.mainContainer {
  position: relative;
  min-height: 100vh;
}

app-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: calc(100vh - 80px - 50px);
  background-color: white;
  z-index: 80;
}

app-sidebar.sticky {
  position: fixed;
  top: 81px;
  height: calc(100vh - 80px);
}

.blackScreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  z-index: 20;
}
