<main>
  <app-header
    [isNavBarVisible]="isNavBarVisible"
    [showSidebar]="showSidebar"
    (showSidebarEvent)="toggleSidebar()"
  ></app-header>
  <app-navbar
    [showSidebar]="showSidebar"
    (showSidebarEvent)="toggleSidebar()"
  ></app-navbar>
  <div class="mainContainer">
    <app-sidebar
      *ngIf="showSidebar"
      [@slideInAnimation]
      [class.sticky]="isNavBarVisible == true"
      [showSidebar]="showSidebar"
      (showSidebarEvent)="toggleSidebar()"
    ></app-sidebar>
    <div
      class="blackScreen"
      *ngIf="showSidebar"
      [@fadeInAnimation]
      (click)="toggleSidebar()"
    ></div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</main>
